@import "tailwindcss";
@plugin "flowbite/plugin";
@import "flowbite/src/themes/default";

@source "../../node_modules/flowbite";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
    --color-primary: #0C461E;
    --color-secondary: #2E8B22;
    --color-secondary-light: #399424;
    --color-primary-soft: #69B33F;
    --color-gray-dark: #3A3A3A;
    --color-gray-light: #595959;
    --color-gray-soft: #95a390;
    --color-gray-default: #f2f4f6;
    --color-dark: #1250e;
}